:root {
  --c1: rgba(255, 255, 255, 0.97);
  --c3: rgba(246, 180, 87, 0.968);
  --c4: rgba(25, 31, 40, 0.966);
  --c6: rgba(225, 225, 225, 0.500);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--c4);
}

section {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 740px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: 22px;
  background-color: transparent;
  border: 0;
  color: var(--c3);
  cursor: pointer;
  transition: all .3s linear;
  margin: 10px;
}

button:hover {
  background-color: var(--c3);
  color: var(--c5);
}


/* navbar styling */

nav {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px 430px;
  justify-content: center;
  color: var(--c3);
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile h1 {
  text-align: center;
}

.profileimage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.navlist {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;  
}

.navitem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 70%;
  height: 70px;
  border-radius: 15px;
  transition: all .3s ease-out;
}

.navitem a {
  list-style: none;
  color: var(--c2);
  font-size: 17px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  text-decoration-line: none;
  margin-left: 20px;
}

span i {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navitem:hover {
  background-color: var(--c3);
}

.navitem:hover a {
  color: var(--c4);
}

.navitem:hover i {
  color: var(--c4);
}

.bi {
  font-size: 25px;
}


/* Styling for task input and field */

#todomanagement {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75px 75px 480px;
}

/* Scrollbar styling */
.tasklist {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--c3);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c6);
}

.gettask {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tasklistformat {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inputtask {
  height: 30px;
  width: 70%;
  border: 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.321);
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--c3);
}

.inputtask:focus {
  outline: none;
}

.tasks {
  display: flex ;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--c1);
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  background-color: var(--c3);
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
}

.container input:checked~.checkmark {
  background-color: var(--c3);
}

.container input:checked~.tasktext {
  color: var(--c6);
  text-decoration: line-through;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--c4);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btnsdiv {
  grid-column: 2/3;
  display: flex;
  justify-content: space-evenly;
}


/* for android device  */
@media all and (max-width: 428px) and (max-height: 926px) {

  section {
    grid-template-columns: 100%;
    grid-template-rows: 85% 15%;

  }

  #todomanagement {
    grid-row: 1/2;
  }

  nav {
    grid-row: 2/3;
    grid-template-rows: auto;
  }

  .navlist {
    flex-direction: row;
  }

  .navitem i {
    margin: 0;
  }

  .navitem {
    justify-content: center;
  }

  .navlist a {
    display: none;
  }

  .profile {
    display: none;
  }

  .tasktext {
    font-size: 15px;
  }

  .tasklist {
    padding: 5px;
  }

  .tasks {
    margin: 10px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
  }

}